@{
    ViewBag.Title = "Lỗi";
    Layout = "~/Views/Shared/_LayoutGioHang.cshtml";
}

<body onload="popup()">
    <div class="mycolor" style="text-align:center;font-size:40px">@Html.ActionLink("Về Trang Chủ", "Index", "Z9TheCoffee")</div>
    <script>
function popup() {
    alert("Đã Xảy Ra Sự Cố, Vui Lòng Thử Lại :( ");
}
    </script>
</body>
<hr />
