
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Trang Chủ
    </h1>
    <img src="~/img/rsz_picture4.png" />
</section>
