@using ChiNhanh_Z9TheCoffee.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
<section class="content-header">
    <h1>Trang Chủ</h1>   
    <img src="~/img/rsz_picture4.png" />
</section> 